# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
Failed to fetch

app/(Dashboard)/notes/page.tsx (131:31) @ handleFileChange


  129 |       const formData = new FormData();
  130 |       formData.append("file", file);
> 131 |       const uploadRes = await fetch("http://localhost:5000/api/upload_pdf", {
      |                               ^
  132 |         method: "POST",
  133 |         body: formData,
  134 |       });
Call Stack
9

Show 8 ignore-listed frame(s)
handleFileChange
